<h1><%= I18n.t('import_wizard.main_title', :entity => @entity.name.capitalize )%></h1>
<h2><%= I18n.t('import_wizard.madb_step2_title' )%></h2>
<form action="<%= url_for :action => :import_data , :id => params[:id] %>">
<table>
  <tr><th>CSV field</th><th></th><th>Entity field</th></tr>
<% @entity_fields.each do |f|%>
  <tr><td><select name="bindings[<%= f%>]" ><%= options_for_select(@csv_fields, f) %></select></td><td><%= I18n.t('import_wizard.goes_into')%></td><td><%= f %></td><tr>
<%end%>
</table>
<input type="submit"/>
</form>
